.shapes {
    .card {
        text-align: center;
        padding: 1rem 2rem;
    }

    .card:hover {
        background-color: $gray-light;
        border-color: black;
        opacity: .7;
        cursor: pointer;
    }

    .fa {
        font-size: 5rem;
        margin-top: 1rem;
    }
}